/* Navbar */

.navbar {
    background-color: black;
    font-family: 'Shadows Into Light Two', cursive, sans-serif;
}

.brand {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.8rem;
}

.flexgrow-off {
    flex-grow: 0 !important;
}

.nav-item {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

/* Footer */

footer {
    background-color: black;
    color: whitesmoke;
    height: auto;
    font-family: 'Shadows Into Light Two', cursive, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.icons i {
    color: whitesmoke;
}

.icons i:hover {
    color: yellow;
}