/* Navbar */

.navbar {
    background-color: black;
    font-family: 'Shadows Into Light Two', cursive, sans-serif;
}

.brand {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.8rem;
}

.flexgrow-off {
    flex-grow: 0 !important;
}

.nav-item {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

body {
    background-color: black !important;
}

/* Hero Image */

.masthead {
    background-image: url(/static/images/sushi1medium2.jpg);
    background-size: cover;
    min-height: 80vh;
    position: relative;
    color: whitesmoke;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

h1 {
    font-size: 4rem !important;
    margin-bottom: 0 !important;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

/* Sign Up Page */

.sign-up-form {
    color: whitesmoke;
    text-align: center;
}

/* Sign In Page */

.sign-in-form {
    color: whitesmoke;
    text-align: center;
}

/* Sign Out Page */

.sign-out-form {
    color: whitesmoke;
    text-align: center;
}

/* Booking Page */

.booking-form {
    color: whitesmoke;
}

/* Footer */

footer {
    background-color: black;
    color: whitesmoke;
    height: auto;
    font-family: 'Shadows Into Light Two', cursive, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.icons i {
    color: whitesmoke;
}

.icons i:hover {
    color: yellow;
}

/* Media Queries */

/* Masthead */
@media (max-width: 1685px) {
    .masthead {
        min-height: 30vh;
    }
    h1 {
        font-size: calc(1rem + 3.3vw) !important;
    }
}