{% extends "base.html" %}

{% block content %}

<div class="container d-flex justify-content-center">
    <div class="change-form">
        <h2 class="forms-title">Add a Booking:</h2>
        <form method="POST" action="add">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="center-btn">
                <button type="submit" class="btn btn-success">
                    Complete booking
                </button>
            </div>
            
        </form>
    </div>
    <button id="alert-btn" class="btn btn-primary">
        button
    </button>
</div>

<script>
    // Trigger button
    let button = document.querySelector("#alert-btn");

    // Alert container
    let container = document.querySelector("#alert-container");

    // Create click event listener on trigger button
    button.addEventListener("click", () => {

    // When user click on trigger #button, insert .alert element into #container
    container.innerHTML =
        `<div class="alert alert-primary alert-dismissible fade" role="alert">
        Primary alert with custom close button
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>`
    ;
    });
</script>

{%endblock%}