{% extends "base.html" %}

{% block content %}

<div class="container d-flex justify-content-center">
    <div class="change-form">
        <h2 class="forms-title">Add a Booking:</h2>
        <form method="POST" action="add">
            {% csrf_token %}

            {% for field in form %}
                {{field.label_tag}}
                {{field}}
                <p class="error"></p>
            {% endfor %}</p>

            <div class="center-btn">
                <button type="submit" class="btn btn-success">
                    Complete booking
                </button>
            </div>

        </form>
    </div>
</div>

<script>
    const dateField = document.querySelector('[name="date"]');
    dateField.onchange = (event) => {
        if (new Date(event.target.value) < new Date()) {
            dateField.nextElementSibling.innerText = "PLEASE PICK A FUTURE DATE!"
        } else {
            dateField.nextElementSibling.innerText = ""
        }
    }
</script>

{%endblock%}