{% extends "base.html" %}
{% block menupageactive %} active {% endblock %}
{% block content %}

<div class="menu">
    <h2>Menu</h2>
    <h4>Uramaki:</h4>
    <p>10pcs/£9.10 15pcs/£9.80 20pcs/£10.35</p>
    <p>Salmon -avocado, cucumber, cream-cheese</p>
    <p>Tuna -avocado, cucumber, chilli-mayo</p>
    <p>Shrimp -avocado, cucumber, sesame seeds</p>
    <h4>Nigiri:</h4>
    <p>10pcs/£7.20 15pcs/£8.40 20pcs/£9.65</p>
    <p>Salmon</p>
    <p>Tuna</p>
    <p>Shrimp</p>
    <h4>Mixed Plate:</h4>
    <p>12pcs/£8.20 16pcs/£9.40 20pcs/£10.65</p>
    <p>Salmon + Tuna Uramaki, Shrimp + Tofu Nigiri.</p>
    <h4>Family Plate:</h4>
    <p>30pcs/£16.20 45pcs/£24.15 54pcs/£32.10</p>
    <p>Salmon + Tuna Uramaki, Shrimp + Tuna Maki,</p>
    <p>Salmon + Tofu Nigiri.</p>
    <h4>Pokébowls:</h4>
    <p>£8.50</p>
    <p>Salmon -sushi-rice, avocado, ginger, greenbeans, cucumber + pickled red onion</p>
    <p>Tuna -sushi-rice, avocado, ginger, mango, cucumber + pickled red onion</p>
    <p>Shrimp -sushi-rice, avocado, ginger, sweet-chilli, cucumber + pickled red onion</p>
</div>

{%endblock%}
