{% extends "base.html" %}
{% block homepageactive %} active {% endblock %}
{% block content %}

<!-- Home Page -->
<div class="masthead">
    <div class="color-overlay d-flex justify-content-center align-items-center">
        <div class="column-1">
            <div class="row-1">
                <h1>World Class Sushi.</h1>
            </div>
            <div class="row-2">
                <a href="{% url 'view_booking' %}">
                    <button class="btn btn-primary">Book</button>
                </a>
                <a href="{% url 'menu' %}">
                    <button class="btn btn-secondary">Menu</button>
                </a>
            </div>
        </div>
    </div>
</div>

{%endblock%}