{% extends "base.html" %}
{% block bookingpageactive %} active {% endblock %}
{% block content %}

<!-- View user bookings page -->
<div class="container">
    <div class="booking-form">
        <!-- Displays bookings to signed in users, else requires them to sign in -->
        {% if user.is_authenticated %}

        <h3 class="booking-title">Bookings:</h3>
        <table class="display-bookings-table">
            {% for booking in bookings %}
            {% if booking.customer == user %}
            <tr>
                <td>Name:</td>
                <td> {{ booking.booking_name }} </td>
            </tr>
            <tr>
                <td>Date:</td>
                <td> {{ booking.date }} </td>
            </tr>
            <tr>
                <td>Time:</td>
                <td> {{ booking.time }} </td>
            </tr>
            <tr>
                <td>People:</td>
                <td>{{ booking.number_of_people }}</td>
            </tr>
            <tr>
                <!-- Edit booking button -->
                <td>
                    <a href="/edit/{{ booking.id }}">
                        <button class="btn btn-warning btn-sm">Edit</button>
                    </a>
                </td>
                <!-- Delete booking button -->
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-{{booking.id}}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="modal-{{booking.id}}" tabindex="-1" aria-labelledby="deleteModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this booking?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_booking' booking.id %}">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td>You have no bookings.</td>
            </tr>
            {% endfor %}
        </table>
        <!-- Add booking button -->
        <div class="container d-flex justify-content-center">
            <div class="btn-extra">
                <a href="/add">
                    <button class="btn btn-primary btn-sm">Add Booking</button>
                </a>
            </div>
        </div>
        {% else %}
        <!-- Sign in to book button -->
        <div class="login-to-book">
            <p>You are not signed in. Please sign to book.</p>
            <a href="{% url 'account_login' %}">
                <button class="btn-success btn-lg">Sign In</button>
            </a>
        </div>

        {% endif %}
    </div>
</div>

{%endblock%}